/* Box model:
Margin: separacion de la box exterior;
Padding: separacion de la box interna;
    top Right Bottom Left
OverFlow: 
    hidden
    Scroll
Outline: Linea entre border y margin;
Position: Define la posicion de la caja
    Absolute
    Relative

*/
.color-red{
    color: gray
}
#color-blue{
    color: blue;
}

h1 {
    color: blueviolet;
    font-size: 40px;
}

