.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.formulario h3{
    font-size: 30px;
}

.formulario .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
input:focus ~ label,
input:focus ~ label{
    top: -5px;
}

.formulario .email{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.formulario .text{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.formulario button{
    padding-inline: 22px;
    padding-block: 12px;
    color: white;
    border: none;
    outline: none;
    border-radius: 980px;
    background: rgb(0,113,227);
    font-weight: 300;
}

