/* CSS Selectores :
Universal: *
de tipo: etiqueta
clases: .nombreClase
ID: #nombreID
por atributo: [NombreAtributo]
descendiente: etiqueta etiqueta 
pseudo-clases: 
    etiqueta:link
    etiqueta:visited
    etiqueta:hover
    etiqueta:active
*/
.titulo-h2 {
    color: red;
}